{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <!-- Formulario para subir el XML -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Subir</button>
            </form>
        </div>
    </div>

    <!-- Mostrar los datos extraídos del XML -->
    {% if extracted_data %}
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h3>Datos extraídos del XML</h3>
            <ul>
                <li><strong>Versión:</strong> {{ extracted_data.version }}</li>
                <li><strong>Folio:</strong> {{ extracted_data.folio }}</li>
                <li><strong>Fecha:</strong> {{ extracted_data.fecha }}</li>
                <li><strong>Forma de Pago:</strong> {{ extracted_data.forma_pago }}</li>
                <li><strong>Total:</strong> {{ extracted_data.total }}</li>
                <li><strong>Emisor:</strong> {{ extracted_data.emisor.Rfc }} - {{ extracted_data.emisor.Nombre }}</li>
                <li><strong>Receptor:</strong> {{ extracted_data.receptor.Rfc }} - {{ extracted_data.receptor.Nombre }}</li>
            </ul>
            <a href="{% url 'generate_pdf' %}" class="btn btn-success mt-3">Generar PDF</a>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}
